@import '../../common.scss';

.main-right {
  margin-top: 150px;
  margin-left: 60px;
  margin-right: 10px;
  border: 1px solid transparent;
  width: 320px;
  height: 600px;

  .id {
    height: 50px;
    position: relative;

    img.me1 {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: absolute;
    }

    span {
      position: absolute;
      top: 10px;
      left: 80px;
    }

    div {
      position: absolute;
      top: 34px;
      left: 80px;
      font-size: 13px;
    }
  }

  .story {
    border: 1px solid lightgray;
    width: 320px;
    height: 250px;
    margin-top: 25px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    background-color: white;

    .seeall {
      display: flex;
      justify-content: space-between;

      .title {
        margin-left: 10px;
        margin-top: 15px;
        color: #3f3f3f;
        font-size: 14px;
        font-weight: 700;
      }

      .title2 {
        margin-right: 10px;
        margin-top: 15px;
        color: black;
        font-size: 14px;
        font-weight: 700;
      }
    }

    .story_photo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 5px;
      position: relative;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
        margin-left: 10px;
        border-radius: 50%;
        margin-top: 1px;
        border: 3px solid transparent;
        margin-bottom: 10px;
        background-image: linear-gradient(#e66465, #ff7f00),
          linear-gradient(#e66465, #ff7f00, #fe019a, #ff00ff, #d070fb);
        background-origin: border-box;
        background-clip: content-box, border-box;
        overflow: hidden;
      }

      span {
        position: absolute;
        font-size: 16px;
        font-weight: 400;
        left: 70px;
      }

      div {
        position: absolute;
        font-size: 14px;
        font-weight: 200;
        left: 70px;
      }
    }

    .story_photo {
      span.english_id1 {
        position: absolute;
        top: 8px;
      }
    }

    div.time1 {
      position: absolute;
      top: 28px;
    }

    span.english_id2 {
      position: absolute;
      top: 65px;
    }

    div.time2 {
      position: absolute;
      top: 85px;
    }

    span.english_id3 {
      position: absolute;
      top: 128px;
    }

    div.time3 {
      position: absolute;
      top: 148px;
    }

    span.english_id4 {
      position: absolute;
      top: 195px;
    }
  }
}

/* RECOMMAND */
// 이것도 리팩토링 하자...

.recommend {
  border: 1px solid lightgray;
  width: 320px;
  height: 200px;
  position: relative;
  background-color: white;

  .recommend_foryou {
    display: flex;
    justify-content: space-between;

    .title3 {
      margin-left: 10px;
      margin-top: 15px;
      color: #3f3f3f;
      font-size: 12px;
      font-weight: 700;
    }

    .title4 {
      margin-right: 10px;
      margin-top: 15px;
      color: black;
      font-size: 12px;
      font-weight: 700;
    }
  }

  .recommend_photo img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .id_recommend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 70px;
    font-size: 13px;

    .recommend_id1 {
      position: absolute;
      margin-top: -140px;
    }

    .recommend_id2 {
      position: absolute;
      margin-top: -90px;
    }

    .recommend_id3 {
      position: absolute;
      margin-top: -35px;
    }
  }

  .id_likes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 70px;
    font-size: 10px;

    .recommend_time1 {
      position: absolute;
      margin-top: -122px;
    }

    .recommend_time2 {
      position: absolute;
      margin-top: -72px;
    }

    .recommend_time3 {
      position: absolute;
      margin-top: -20px;
    }
  }

  .follow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 240px;
    font-size: 16px;
    font-weight: 700;
    color: #1da1f6;
    margin-top: -100px;
  }

  .follow {
    .follow1 {
      margin-top: -30px;
    }

    .follow2 {
      margin-top: 28px;
    }

    .follow3 {
      margin-top: 30px;
    }
  }
}

/* Footer */

.back-tag {
  margin-top: 10px;
  border: 1px solid transparent;
  text-align: start;

  span {
    color: lightgray;
    font-size: 13px;
  }

  p {
    color: lightgray;
    font-size: 14px;
    margin-top: 30px;
  }
}
