.main-nav {
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  background: #fff;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-around;
  height: 9%;
  .main-nav-left {
    display: flex;
    align-items: center;
    position: relative;
    .nav-logo {
      width: 20px;
      height: 20px;
      .nav-logo img {
        width: 100%;
      }
    }
    .vl {
      border-left: 1px solid rgb(0, 0, 0);
      height: 20px;
      position: absolute;
      left: 40px;
      margin-left: -3px;
      top: 30%;
      @media (min-width: 1380px) {
        top: 35%;
      }
    }
    .logo-main {
      padding-left: 30px;
      font-family: 'Lobster', cursive;
      font-size: 17px;
    }
  }
  .main-nav-center {
    position: relative;
    width: 15%;
    display: flex;
    align-items: center;
    @media (min-width: 1380px) {
      width: 12%;
    }
    .main-nav-input {
      text-align: center;
      padding: 1px 5px;
      @media (min-width: 1380px) {
        height: 35%;
      }
      &::placeholder {
        background-image: url(../../assets/images/search_black_24dp.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 40px;
        text-indent: 0;
        font-size: 12px;
      }
    }
  }
  .main-nav-right {
    display: flex;
    align-items: center;
    .nav-btn {
      width: 18px;
      height: 18px;
      margin-left: 10px;
    }
    @media (min-width: 1380px) {
      .nav-btn {
        width: 23px;
        height: 23px;
        margin-left: 25px;
      }
    }
  }
}
